<!doctype html>
<html ng-app="app" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Angular App Starter</title>
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        🤖
                    </a>

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="#">Image AI</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Image Data <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Compare Faces</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div ng-controller="AppController as app" class="container">

            <div class="row">
                <form>
                    <label for="image-file">
                        Send this file: <input data-file-Upload id="image-file" name="image" type="file" />
                    </label>
                </form>
                
                <results-table results="app.results"></results-table>
            </div>
        </div>

        <span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>
    </body>
</html>
