<div class="container" ng-show="$ctrl.results.length > 0" style="margin-top: 2em;">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Full Text</h3>
            </div>

            <div class="panel-body">
                <pre>{{ $ctrl.results[0].text }}</pre>
            </div>

            <div class="panel-footer">
                Detected Language: {{ $ctrl.results[0].language }}
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Annotations</h3>
            </div>

            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="antn in $ctrl.results[0].annotations">
                            <td>{{ antn.description }}</td>
                            <td>{{ antn.score }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Matching Images</h3>
            </div>

            <div class="panel-body">
                <div class="col-sm-3" ng-repeat="img in $ctrl.results[0].matchingImages">
                    <a href="#" class="thumbnail">
                        <img ng-src="{{ img }}" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Similar Images</h3>
            </div>

            <div class="panel-body">
                <div class="col-sm-3" ng-repeat="img in $ctrl.results[0].similarImages">
                    <a class="thumbnail" href="#">
                        <img class="thumbnail" ng-src="{{ img }}" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Matching Pages</h3>
            </div>

            <div class="panel-body">
                <table class="table">
                    <tr ng-repeat="page in $ctrl.results[0].matchingPages">
                        <td><a ng-href="{{ page }}">{{ page }}</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
